.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.loadingStatus {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 2rem;
  color: var(--white);
  font-weight: bold;
  font-style: italic;
  text-align: center;
}