
.books {
    flex: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
.booksContent {
    flex: 1;
    padding: 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
