.booksByAuthor {
    border: 5px solid var(--tan-hide);
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 310px;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 30px;
}
.book:nth-child(even) .bookData{
    background-color: var(--white);
    color: var(--tan-hide);
}
.book:nth-child(odd) .bookData{
    background-color: var(--tan-hide);
    color: var(--blue-dianne);
}
.booksByAuthorContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.authorName{
    background-color: var(--white);
    color: var(--tan-hide);
    box-sizing: border-box;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    padding: 0.5rem;
    width: 25%;
    position: relative;
    bottom: -1.5rem;

}
.authorName span {
    flex-grow: 1;
    vertical-align: middle;
    text-align: center;
    font-size: 1.25rem;
    font-style: italic;
}
@media all and (max-width: 600px) {
   .authorName span {
       font-size: 1rem;
   }
   .authorName {
       margin-bottom: 10px;
       width: 35%;
   }
}
