header {
    min-height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    outline: none;
}
.headerLine {
    flex: 1;
}
.headerLine hr {
    border: none;
    height: 4px;
    color: var(--white); 
    background-color: var(--white);
}
.headerTitle {
    height: 90px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerCaption {
    font-size: 1.5rem;
    color: var(--white);
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
}
.circle {
    width: 50px;
    line-height: 50px;
    height: 50px;
    border: 2px solid var(--white);
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    font-size: 2rem;
    color: var(--white);
}