html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  --background-color: #494748;
  --tan-hide: #FB955A;
  --blue-dianne: #223E4A;
  --white: #FFFFFF;
  background-color: var(--background-color);
}
#root {
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
} 