.book {
    margin-top: 3%; 
    margin-bottom: 1.5%;
    width: 300px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: contain;
}
.imagePanel {
    flex: 1;
}
.bookData {
    font-size: 1.25rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 10px 10px 15px;
}
.bookData .bookName {
    align-self: center;
}
.bookData span {
    font-size: 1.85rem;
    font-weight: bold;
}
.likedHeartIcon, .heartIcon {
    height: 30px;
    width: 30px;
    border: none;
    float: right;
    background-color: transparent;
    outline: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bookName {
    text-align: center;
    text-transform: uppercase;
}
.heartIcon {
    background-image: url("../../Icons/heart-black.svg");

}
.likedHeartIcon {
    background-image: url("../../Icons/heart-red.svg");
}
